# Compiled class file
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Maven build outputs
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.sonarBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle build outputs
build/
.gradle/

# IntelliJ IDEA IDE settings
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse IDE settings
.metadata/
bin/
tmp/
.classpath
.project
.settings/

# macOS system files
.DS_Store